.about_contain {
  width: 100%;
  padding-top: 2vh;
}

.all_about {
  width: 90%;
  margin: 0 auto;
}

.about {
  border-radius: 15px 15px 15px 15px;
  background-color: #F3F3F3;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  height: 100%;

}

.about_txt {
  color: #707070;
  padding: 0vh 3vh 0vh 3vh;
  text-align: center;
}

hr {
  width: 160px;
}

.img_us {
  width: 100%;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  position: relative;

}

.contain_us {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 39px;
  grid-auto-rows: minmax(200px, auto);
  width: 80%;
  margin: 0 auto;
  padding-top: 2vh;
  padding-bottom: 5vh;

}

.titre_us {
  text-decoration: underline #87C165;
  text-align: left;
  color: #87C165;
  padding-left: 1.7em;

}

.description_us {
  color: #6E544F;
  font-size: 1.3em;
  text-align: left;
  padding-left: 2em;

}

.element_us {
  border-radius: 15px 15px 15px 15px;
  background-color: #FFFFFF;
  position: relative;
  width: 100%;

  a {
    color: inherit;
    text-decoration: underline;
  }

}