body {
  background-color: #3d4852;
}

a {
  text-decoration: none;
  color: white;
}

.header-container {
  padding-top: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/bg/home.jpg");
    filter: grayscale(15%) brightness(40%) hue-rotate(335deg) contrast(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & > .content {
    position: relative;
    z-index: 10;
  }

  .base_palmier {
    width: 100vw;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin-bottom: -1px;
  }
}

.logo {
  width: 15%;

}

.recherche {
  min-width: 200px;
  padding: 5em 5em 8em 5em;
  text-align: center;

  .recherche-formulaire {
    display: inline-block;
    height: 2.5em;

    .bondisplay {
      height: 100%;
      display: inline-block;

      .colle {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;

        .champ1, .champ2 {
          color: black;
          font-weight: normal;
          border: none;
          padding: 0.5em 0.5em 0.5em 0.5em;
          height: 100%;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          transition: box-shadow 0.3s;

          &::placeholder {
            color: rgba(122, 110, 125, 1);
            font-weight: normal;
            font-style: italic;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 1);
          }
        }

        .champ2 {
          border-left: solid #a7a7a7 1px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          padding: 0.5em 2em 0.5em 0.5em;
        }
      }
    }

    .posearch {
      position: relative;
      display: inline-block;
      //height: 100%;

      .bouton {
        position: absolute;
        transform: translate(-50%, -60%);
        width: 4em;
        height: 4em;
        background: #E880C1;
        color: #fff;
        border-radius: 100%;
        cursor: pointer;
        border: 2px solid #E880C1;
        background-image: url("/img/svgs/search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;

        transition-duration: 0.3s;
        transition-property: transform, border;
      }

      .bouton:hover, .bouton:focus, .bouton:active {
        transform: translate(-50%, -60%) scale(1.1);
        border-color: white;
      }
    }

  }

}

.slogan {
  margin: 2em auto;
  display: block;
  color: #E880C1;
}

.btn-randomproduct {
  display: block;
  width: 15em;
  height: 3.5em;
  margin: 1em auto;
  padding: 0.5em 4em 0.5em 0.5em;
  border-radius: 28px;
  border: 2px solid #E880C1;
  background: #E880C1;
  font-weight: bold;
  color: #fceeee;
  background-image: url("/img/svgs/random.svg");
  background-repeat: no-repeat;
  background-size: 17%;
  background-position: 95%;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: border;

  p {
    color: inherit;
    width: 100%;
    text-align: center;
    padding: inherit;
  }

}

.btn-randomproduct:hover {
  border: 2px solid white;
}

.top3 {

  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  background-size: cover;

  h1 {
    color: #96726b;
    text-shadow: 0px 0px 6px rgba(51, 51, 51, 0.26);
    margin-top: 0;
  }


}

.pgd1 {
  background-color: #dcd1d1;
  position: relative;
}

.eats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  & > * {
    background-color: #3d4852;
    padding: 2em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }

  & > div:nth-of-type(1) {
    order: 2;
    margin: 0 2em 3em 2em;
  }

  & > div:nth-of-type(2) {
    order: 1;
  }

  & > div:nth-of-type(3) {
    order: 3;
  }
}

.follow {
  display: inline-block;
  text-align: left;

}

.space {
  display: inline-block;
}

.follow h3 {
  color: #96726b;
}

.copy {
  text-align: center;
  padding-top: 30px;
}

.copy p {
  color: #96726b;
}
