/*body {
  background-color: white;
  font-size: 1em;
  color: #707070;
}*/

.breadcrumb_boutique {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1vw;

  a {
    color: #707070;
  }

  a:hover {
    text-decoration: underline;
  }
}


.div_name_boutique {
  background-color: #DCD1D1;
  padding: 2vh;
  text-align: center;
  border-radius: 0 0 7vh 7vh;

  h1 {
    margin: 0;
  }
}

.container_boutique {
  width: 90%;
  margin: auto;
}

.info_boutique {
  display: flex;
  justify-content: space-around;

  span {
    padding-top: 1vh;
    padding-bottom: 4vh;
  }
}

.email_boutique, .tel_boutique, .adresse_boutique, .breadcrumb_boutique {
  &::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: 0.7em;
    height: 30px;
    width: 30px;
    object-fit: contain;
    padding-right: 0.8vw;
  }

}

.email_boutique::before {
  background-image: url(/img/svgs/envelope.svg);
  top: 0.6em;
  padding-right: 1vw;
}

.tel_boutique::before {
  background-image: url(/img/svgs/telephone.svg);

}

.adresse_boutique::before {
  background-image: url(/img/svgs/placeholder.svg);
}

.breadcrumb_boutique::before {
  background-image: url(/img/svgs/back.svg);
  height: 23px;
  width: 10px;
  top: 0.5em;
}


.div_tags {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;

  span {
    background-color: #87C165;
    color: white;
    padding: 0.5vh 1vw;
    border-radius: 5vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }
}

.detail_boutique {
  display: flex;
  justify-content: space-around;
  background-color: #F3F3F3;

  .description_boutique, .horaire_boutique {
    width: 30vw;
  }

  h2 {
    margin: 1vh 0;
    font-size: 1.2em;
  }

  p {
    color: #707070;
  }

  .horaire_jour {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 0.5vh;
  }

  .dimanche {
    padding-bottom: 0.5vh;
  }
}

.bar {
  height: 0.2vh;
  width: 100%;
  background-color: #C2C1C1;
}

.detail_visuel_boutique {
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;

  h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .gallery_boutique, .boutique_graphique_pays_container, .map_boutique {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boutique_graphique_pays_container {
    position: relative;

    .boutique_graphique_pays {
      height: 100%;
      width: 100%;
    }
  }

  .boutique_map {
    width: 100%;
    height: 100%;
  }

  .gallery_boutique, .map_boutique {
    background-color: #F3F3F3;
  }

  .boutique_gallery_container {
    height: 100%;
    width: 100%;
  }

  .bar {
    //width: 75%;
    margin-bottom: 0.8em;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
}

.containerElement {
  width: 100%;
  padding: 3em;
  //margin-left: 3vw;

  .element {
    background-color: #dcd1d1;
    width: 19.5vw;
    height: 20vh;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
  }

  li {
    list-style-type: none;
    margin: 2vh 2vw;
  }

  h2 {
    font-size: 1.2em;
    padding-left: 2vw;
  }

  .bar {
    width: 90vw;
    margin-left: 2vw;
  }
}

.items_list.containerElement {
  width: 100%;
  margin-left: 0;
  margin-top: 5rem;
  height: initial;

  .element {
    display: block;
    width: initial;
    margin: initial;


  }

  ul {
    padding: 1em 0.5em;
    height: initial;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2.2em;
    grid-row-gap: 1.5em;
    grid-auto-rows: minmax(100px, auto);
  }

  h2 {
    padding-left: 0;
  }

  .bar {
    margin-left: 0;
    width: 100%;
  }
}

.numberPage {
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    color: #707070;
    padding: 2vw;

    &:hover, &:active {
      text-decoration: underline;
      color: #87c165;
    }
  }
}


@media screen and (max-width: 720px) {
  .info_boutique {
    flex-direction: column;

    span {
      padding-bottom: 0;
    }

    .adresse_boutique {
      padding-bottom: 4vh;
    }
  }
  .div_tags {
    justify-content: flex-start;
  }
  .detail_boutique {
    flex-direction: column;

    .description_boutique, .horaire_boutique {
      width: 90%;
      margin-left: 5%;
    }

    .horaire_jour {
      flex-direction: column;
      text-align: center;
      width: 15vw;
    }

    .horaires_jours {
      display: flex;
      flex-direction: row;
      align-items: space-between;
      margin-bottom: 2vh;
      flex-wrap: wrap;

      .dimanche {
        padding-bottom: 0;
      }
    }
  }
  .containerElement {
    .element {
      width: 29%;
    }
  }

  .detail_visuel_boutique {
    flex-direction: column;
    height: 40vh;

    .gallery_boutique, .boutique_graphique_pays, .map_boutique {
      width: 100%;

      .slider, .bar {
        width: 80vw;
      }
    }
  }
}


@media screen and (max-width: 544px) {
  .containerElement {
    .element {
      width: 45.5%;
    }
  }
  .detail_boutique {
    .horaire_jour {
      width: 25vw;
    }
  }
}

@media screen and (max-width: 380px) {
  .containerElement {
    .element {
      width: 90%;
    }
  }
  .detail_boutique {
    .horaire_jour {
      width: 40vw;
    }
  }
}

.email_boutique, .tel_boutique, .adresse_boutique {
  &::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: 0.5em;
    height: 25px;
    width: 25px;
    object-fit: contain;
  }

}

.email_boutique::before {
  background-image: url(/img/svgs/envelope.svg);
}

.tel_boutique::before {
  background-image: url(/img/svgs/telephone.svg);
}

.adresse_boutique::before {
  background-image: url(/img/svgs/placeholder.svg);
}


