
.detail_produit {
  display: flex;
  justify-content: space-evenly;
  background-color: #F3F3F3;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 3vw;
  border-radius: 25px 25px 0px 0px;
  height: 20em;

}

.contain_produit {
  position: relative;
  width: 30%;
  padding-right: 4vh;
}

.sizing {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.produit_img {
  width: 100%;
  height: 100%;
  padding: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.prix {
  position: absolute;
  bottom: calc(0px + 2em);
  right: calc(-25px + 2em);
  background-color: white;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  text-align: center;
  border: solid #f3f2f3;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.div_name_produit {
  background-color: #DCD1D1;
  padding: 2vh;
  text-align: center;
  border-radius: 0 0 124px 124px;
}

.containerElement h2 {
  font-size: 1.2em;
  padding-left: 2vw;
}

.containerElement .bar {
  width: 90vw;
  margin-left: 2vw;
}

.bar {
  height: 0.2vh;
  width: 100%;
  background-color: #C2C1C1;
}

.containerElement ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70vh;
}

.containerElement .element {
  background-color: #dcd1d1;
  width: 18vw;
  height: 30vh;
  position: relative;
}

.containerElement li {
  list-style-type: none;
  margin: 2vh 2vw;
}

.numberPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description_produit {
  width: 50vw;
}

.product-name {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .containerElement .element {
    width: 29%;
  }
}

@media screen and (max-width: 555px) {
  .containerElement .element {
    width: 45%;
  }
}

