.search-heading {
  background-color: #dcd1d1;
  border-radius: 0 0 5vw 5vw;

}

.container {
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 10.5vh;
}

.title div {
  padding: 2vh 3vw;
}

.title a {
  height: 0;
}

.title p {
  color: white;
  margin: 0;
  font-size: 1.2em;
}

.title p:hover, .title p:active {
  text-decoration: underline;
  color: #87c165;
}

.search_form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -2.5vh;
  height: 4.5em;
  outline: none;
}

.search_input {
  background-image: url(/public/img/search2.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 17%;
  color: #56514f;
  border-radius: 5px 0 0 5px;
  width: 30em;
  padding-left: 2vw;
  padding-right: 2vw;
  border-right: 0.1em solid #C1C1C1;
}

.height_100 {
  height: 100%;
}

select, input {
  //border: 1px solid #c1c1c1;
  border: none;
  background-color: #f2f2f2;
  transition: box-shadow 0.3s;

  &:not(:last-of-type) {
    border-right: 0.1em solid #C1C1C1;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 1);
  }
}

select {
  color: #56514f;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;

  &.last {
    border-radius: 0 5px 5px 0;
  }
}

.bar {
  background-color: #c1c1c1;
  width: 1px;
}

.search_container {
  //height: 120vh;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  padding: 1em 2em;

  h1 {
    color: #87c165;
    text-align: center;
    padding-top: 2vh;
    //margin-bottom: 0;
  }
}

.wrapper > div {
  background-color: #DCD1D1;

}

.wrapper {
  width: 100%;
  margin-bottom: 1em;

  .results_root {
    padding-bottom: 1em;
  }

  .algolia_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    padding-left: 0;

    .results_item {
      mark {
        background: #f2c7ff;
      }
    }
  }

  .empty_results {
    color: #6c9b51;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 2em 1em;
  }

  .load_more {
    background: #E880C1;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: 20em;
    //text-decoration: underline;
    //width: 100%;
    text-align: center;
    padding: 1.2em 0.6em;
    border-radius: 999px;
    font-size: 1em;
    display: block;
    margin-bottom: 1em;
    border: 2px solid #E880C1;
    transition: border 0.3s;

    &:hover, &:focus, &:active {
      outline: none;
      border-color: white;
    }
  }

  .element {
    width: 100%;
  }
}

.barBottom {
  width: 92vw;
  height: 1px;
  background-color: #c1c1c1;
}

.numberPage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.numberPage a {
  color: #c1c1c1;
  padding: 2vw;
}

.numberPage a:hover, .numberPage a:active {
  text-decoration: underline;
  color: #87c165;
}

.produit, .boutique {
  display: inline-block;
}

.produit_link, .boutique_link {
  &::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: 0.5em;
    height: 50px;
    width: 50px;
  }

  &:hover > p {
    text-decoration: underline;
    color: #87c165;
  }
}

.produit_link::before {
  content: "";
  color: #87c165;
  background-image: url(/img/svgs/coconut.svg);
}

.produit_link.selected {
  p {
    color: #87c165;
  }

  &::before {
    background-image: url(/img/svgs/coconut_green.svg);
  }
}

.produit_link:hover::before {
  background-image: url(/img/svgs/coconut_green.svg);
}

.boutique_link::before {
  content: "";
  background-image: url(/img/svgs/shop.svg);
  padding-right: 0.5em;
}

.boutique_link:hover::before {
  background-image: url(/img/svgs/shop_green.svg);
}

.boutique_link.selected {
  p {
    color: #87c165;
  }

  &::before {
    background-image: url(/img/svgs/shop_green.svg);
  }
}

