// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

$accent-color: #c2a79d;
//$accent-color: #E880C1;
$bg-color: #3d4852;

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 1em;
  color: #707070;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #3d4852;

}

main {
  background-color: white;
  //margin-top: -4em;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  backdrop-filter: blur(2px);
  //background-color: #565150;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s;
  padding: 0 2em;


  .nomSpice {

    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 1.3em;

    a {
      color: #86bf65;
    }

    a:hover {
      color: white;
    }
  }

  a:hover {
    color: #86bf65;
    text-decoration: underline;
  }
}

.nav-colored {
  background-color: $bg-color;
  color: black;
  backdrop-filter: none;
}


.nav ul {
  list-style: none;
  font-weight: 500;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

p, em {
  color: $accent-color;
}

footer {
  height: 10rem;
  background-color: #cec0c0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.vertical-center-content {
  position: relative;

  *:nth-child(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  margin: 0 3rem;

  .navintra, .follow {
    width: 30%;
  }

  .navintra {
    padding-left: 7%;
    padding-top: 1em;
    text-align: left;
    display: inline-block;

    a {
      h3 {
        font-size: 1em;
        color: #96726b;
        margin: 0.5em 0.3em;
      }
    }

    span:hover {
      text-decoration: underline;
      color: #96726b;
    }
  }
}

.socialmedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  height: 40%;

  a > div {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: left;
  }

  a {
    width: calc(100% / 3);
    padding: 0.4rem;
  }

  .facebook {
    background-image: url(/img/svgs/facebook.svg);
  }

  .twitter {
    background-image: url(/img/svgs/tweet.svg);
  }

  .instagram {
    background-image: url(/img/svgs/instagram.svg);
  }

  .facebook:hover {
    background-image: url(/img/svgs/facebook_marron.svg);
  }

  .twitter:hover {
    background-image: url(/img/svgs/tweet_marron.svg);
  }

  .instagram:hover {
    background-image: url(/img/svgs/instagram_marron.svg);
  }

}

@import "./pages/accueil";
@import "./pages/boutique";
@import "~swiper/dist/css/swiper.css";
@import "./composants/boutique";
@import "./composants/item";
@import "./pages/description_produit";
@import "./pages/recherche";
@import "./pages/about";