.compo_item {

}

.img_item {
  display: block;
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.resume {
  color: white;
  background-color: #ab7ba6;
  padding-left: 1em;
  padding-top: 12px;
  padding-bottom: 15px;
  margin: 0;
  height: 23%;
  box-sizing: border-box;
}

.link_item {
  height: 100%;
  display: block;
}