.item_price {

}

.flag_item {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 30%;
  height: auto;
  filter: brightness(0.9) opacity(1);
  border: solid 3px #DCD1D1;
}

.price_medal {
  border-radius: 9999px;
  border: 2px solid #DCD1D1;
  background-color: white;
  position: absolute;
  right: 0.4em;
  bottom: 1em;
  height: calc(1.5em + 3vw);
  width: calc(1.5em + 3vw);
  padding: 0.2em;

  .item_price {
    margin: 0;
    color: #E880C1;
    font-size: calc(0.3em + 0.5vw);
    word-break: break-all;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translate(-50%, -50%);

    &::after {
      content: " €"
    }
  }
}